<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Google Book</title>
    <link rel="stylesheet" href="main.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css'>
  </head>
  <body>
    <%- include('partials/searchForm.js') %>
  </body>
</html>
